.header-page
	background $gray-lighter
	position relative
	text-align center	
	
	&:after
		border 15px solid transparent
		border-top-color $gray-lighter	
		bottom -30px
		content ""
		display inline-block
		left 50%	
		margin-left -15px
		position absolute
			