.header-page
	position relative
	text-align center
	background $gray-lighter
	
	&:after
		content ""
		display inline-block
		position absolute
		bottom -30px
		left 50%
		margin-left -15px
		border 15px solid transparent
		border-top-color $gray-lighter		