# EditorConfig is awesome: http://EditorConfig.org

# All editors
root = true

# All files
[*]

# Set default charset
charset = utf-8

# Space indentation 
indent_style = space
indent_size = 2

# New lines
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true