/*
* Butons
* 
*/



button()
	position relative	
	padding $space	
	border-radius 5px
	text-transform uppercase
	background $brand-primary
	color #fff
	transition .2s
	pxtorem(font-size, 15)
	&:hover
		color #fff
		background lightness($brand-primary, 55%)

.btn	
	button()
	display inline-block
	
	