/*
* Butons
* 
*/



button()
	background $brand-primary
	border-radius 5px
	color $monochrome-0
	padding $space	
	position relative	
	pxtorem(font-size, 15)	
	text-transform uppercase
	transition .2s
	
	&:hover
		background lightness($brand-primary, 55%)
		color $monochrome-0		

.btn	
	button()
	display inline-block
	
	