/*
* Butons
*
*/



button()
	background $theme-primary
	border-radius 5px
	color $white
	padding $space
	position relative
	pxtorem(font-size, 15)
	text-transform uppercase
	transition .2s

	&:hover
		background lightness($theme-primary, 55%)
		color $white

.btn
	button()
	display inline-block

