/*
* Variables
*
* 1. Colors
* 2. Spaces
* 3. Media Queries
* 4. Typography
* 5. Fonts
* 6. Dimensions
*
*/



// 1. Colors
// --------------------------------------------------

// Grays
$white              = #fff
$gray-100           = #f0f3f5
$gray-200           = #c2cfd6
$gray-300           = #a4b7c1
$gray-400           = #869fac
$gray-500           = #678898
$gray-600           = #536c79
$gray-700           = #3e515b
$gray-800           = #29363d
$gray-900           = #151b1e
$black              = #000


// Colorful
$green       		    = #27ae60
$yellow      		    = #f1c40f
$red         		    = #c0392b
$blue         	    = #2980b9
$blue-light			    = #3498db


// Theme Colors
$theme-text    		  = $gray-800
$theme-primary 		  = $blue
$theme-secondary	  = $blue
$theme-success 		  = $green
$theme-info 		    = $blue
$theme-warning 		  = $yellow
$theme-danger  		  = $red
$theme-light  		  = $gray-200
$theme-darker  		  = $gray-800



// 2. Spaces
// --------------------------------------------------

$space 				      = 2rem
$space-xs      		  = ($space / 4)
$space-sm      		  = ($space / 2)
$space-lg      		  = ($space * 2)
$space-xlg     		  = ($space * 4)


// 3. Media Queries
// --------------------------------------------------

$screen-xs          = 520px  // xs
$screen-sm          = 768px  // sm
$screen-md          = 992px  // md
$screen-lg          = 1200px // lg
$screen-xlg         = 1400px // xlg

// Rupture Settings
rupture.mobile-cutoff  = $screen-sm
rupture.tablet-cutoff  = $screen-md
rupture.desktop-cutoff = $screen-lg

rupture.scale       = 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg
rupture.scale-names = '0' 'xs' 'sm' 'md' 'lg' 'xlg'


// 4. Typography
// --------------------------------------------------

$text-size		   	= 62.5%
$base-font-size		= 10



// 5. Fonts
// --------------------------------------------------

$font-default		= 'Arial'



// 6. Dimensions
// -------------------------------------------------
$container-width		= 1280px
