/*
* Generic styles
*
* 1. Reset the box-sizing
* 2. Body reset
* 3. Links
* 4. Images
*
*/



// 1. Reset the box-sizing
// --------------------------------------------------
*
  box-sizing border-box

*:before
*:after
  box-sizing border-box



// 2. Body reset
// --------------------------------------------------
html
	font-size $text-size

body
	background-color $white
	color $theme-text
	font-family $font-default
	pxtorem( font-size, 15 )



// 3. Links
// --------------------------------------------------
a
	color $theme-primary
	text-decoration none

	&:hover,
  &:focus
    color lightness($theme-primary, 55%)
    text-decoration none

  &:focus
    tab-focus()



// 4. Images
// --------------------------------------------------
img
	height auto
	max-width 100%
	vertical-align middle
