extends ../layouts/layout

block vars
  - var classPage = 'home-page'
  - var titlePage = 'Iceberg Boilerplate'

block content
  .container
    main.main-page
      a.btn(href="https://github.com/diogorodrigues/iceberg-boilerplate") Fork me on github
