/*
* Generic styles
* 
*/



*  
	box-sizing border-box  
  
	&:before
	&:after 
		box-sizing border-box 
  

html  
	font-size 10px
	font-size responsive 8px 10px
	
body
	font-size $text-size

a
	color $brand-primary
	&:hover
		color $blue-light	

img
	max-width 100%
	height auto