/*
* Generic styles
* 
* 1. Reset the box-sizing
* 2. Body reset
* 3. Links
* 4. Images
*
*/



// 1. Reset the box-sizing
// --------------------------------------------------
*  
	box-sizing border-box  
  
	&:before
	&:after 
		box-sizing border-box 



// 2. Body reset
// --------------------------------------------------
html 
	font-size $text-size	 
	
body
	pxtorem( font-size, 15 )
	font-family $font-default
	color $text-color
	background-color $monochrome-0



// 3. Links
// --------------------------------------------------
a
  color $brand-primary
  text-decoration none

  &:hover,
  &:focus
    color $brand-secondary
    text-decoration none

  &:focus
    tab-focus()	



// 4. Images
// --------------------------------------------------
img
	vertical-align middle
	max-width 100%
	height auto