/*
* Helpers
* 
*/



// Margins and Paddings
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

// Text aligns
.align-center {
	text-align: center !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

// Floats
.to-right {
	float: right !important;
}

.to-left {
	float: left !important;
}
