/*
* Helpers
* 
* 1. Floats
* 2. Toggling content
* 3. For Affix plugin
* 4. Margins and Paddings
*
*/



// 1. Floats
// --------------------------------------------------
.clearfix
  cf()

.center-block
  center-block()

.pull-right
  float right !important

.pull-left
  float left !important



// 2. Toggling content
// --------------------------------------------------
.hide
.hidden
  display none !important

.show
  display block !important

.invisible
  visibility hidden

.text-hide
  text-hide()



// 3. For Affix plugin
// --------------------------------------------------
.affix
  position fixed



// 4. Margins and Paddings
// --------------------------------------------------
.no-margin
	margin: 0 !important

.no-padding
	padding 0 !important
