header.header-page
	.container
		.header-page__brand.brand
			img.brand__media(src="assets/img/logo-iceberg-boilerplate.svg", alt="Iceberg Simple Boilerplate", width="300px")
			h1.brand__description The Iceberg Simple Boilerplate is a simple boilerplate using Gulp, Jade, Stylus and Browsersync.

