//- include ../mixins/mixins

header.header-page
	.container
		.brand
			img(src="assets/img/logo-iceberg-boilerplate.svg", alt="Iceberg Simple Boilerplate", width="300px")
			h1.brand-description The Iceberg Simple Boilerplate is a simple boilerplate using Gulp, Jade, Stylus and Browsersync.

