doctype html
head
		title Hello World
		link(rel='stylesheet', href='assets/css/main.css')
	
	body

		//- Header
		header Header 

		//- Content
		main Main
			img(src="assets/img/99celulares-bg_logo.jpg" alt="")
		
		//- Footer
		footer footer 

		script(async src='assets/js/main.js')