/*
* Variables
* 
* 1. Colors
* 2. Spaces
* 3. Typography
* 4. Dimensions
*
*/



// 1. Colors
// --------------------------------------------------

// Grays
$white				= #fff	 
$gray-lighter		= #ecf0f1
$gray-light			= #bdc3c7
$gray				= #7f8c8d
$gray-dark			= #34495e
$gray-darker		= #2c3e50


// Hexas
$green       		= #27ae60
$yellow      		= #f1c40f
$red         		= #c0392b
$blue         		= #2980b9 
$blue-light			= #3498db


// Brands
$text-color    		= $gray

$brand-primary 		= $blue
$brand-secondary	= $blue-light
$brand-success 		= $green
$brand-warning 		= $yellow
$brand-danger  		= $red



// 2. Spaces
// --------------------------------------------------

$space 				= 20px



// 3. Typography
// --------------------------------------------------

$text-size		   	= 1.5rem 
$base-font-size		= 10



// 4. Dimensions
// -------------------------------------------------
$container-width		= 1280px
